.Posts {
    margin: 5%;
}

.Blog_Tittle{
    text-align: center;
    margin-top: 5%;
}

.Post_heading{
    background-color:  rgba(241, 50, 50, 1); 
    color: white;
}

.Comments{
    background-color:  rgba(241, 50, 50, 1); 
    color: white;
    width: 10vw;
}

.Comment_Btn{
    background-color:  rgba(241, 50, 50, 1); 
    color: white;
    border: none;
    margin-right: 2%;
}

/* Create Post */
.Container{
    border: 2px solid rgb(204, 201, 201);
    padding: 2%;
    margin: 5%;
}
.post{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Post_Btn{
    background: rgba(241, 50, 50, 1);
    border: none;
    color: white;
    padding: 1vw;
    border-radius: 25px;
}
