
.Form{
    margin: 5% 30%;
    border: 2px solid rgba(145, 145, 145, 0.25);
    border-radius: 0.5vw;
    padding: 5% ;
}

.Form a{
    text-decoration: none;
}

.Form input{
    background-color: rgba(217, 217, 217, 1);
    color: rgba(180, 175, 175, 1);
}

.Form_title{
    font-family: Lily Script One;
font-size: 3vw;
font-weight: 400;
line-height: 4vw;
letter-spacing: 0em;
text-align: center;
color: rgba(241, 50, 50, 1);
}

.Btn{
    background: rgba(241, 50, 50, 1);
    border: none;
    color: white;
    padding: 2% 5%;
    margin-left: 40%;
}

.Btn-red{
    border: none;
    color: rgba(241, 50, 50, 1);
    background-color: white;
}

.text_red{
    color: rgba(241, 50, 50, 1);
}

.form_text{
    margin-left: 20%;
    margin-top: 2%;
}


